{% extends 'base.html.twig' %}

{% block title %}Contatti{% endblock %}
{% block description %}{% endblock %}

{% block content %}
	<section>
		<div class="page-title page-title-parallax parallax scroll-detect py-5 py-lg-6">
			<img src="{{ asset('images/shop.jpg') }}" class="parallax-bg" alt="Shop Background">
			<div class="container">
				<div class="page-title-row py-4 py-lg-5">
					<div class="page-title-content mw-xs">
						<h1>Chi siamo</h1>
						<p class="text-muted fs-5 mt-3 mb-0">Dynamic ways to display under-the-fold Media Uniquely aggregate cross-media expertise.</p>
					</div>
				</div>
			</div>
		</div>

		<!-- chi sono -->

    </section>

{% endblock %}
