{% extends 'base.html.twig' %}

{% block title %}I prodotti{% endblock %}
{% block description %}{% endblock %}

{% block content %}
	<section>
		<div class="page-title page-title-parallax parallax scroll-detect py-lg-6">
			<img src="{{ asset ('images/shop.jpg')}}" class="parallax-bg">
			<div class="container">
				<div class="page-title-row py-5">
					<div class="page-title-content mw-xs">
						<h1>Products</h1>
						<p class="color text-larger mt-4 mb-0">Dynamic ways to display under-the-fold Media Uniquely aggregate cross-media expertise.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="container my-4">
			<ul class="nav canvas-alt-tabs tabs-alt tabs-bb nav-tabs justify-content-center gap-3 mb-5 border-bottom-0" role="tablist">
				<li class="nav-item mx-md-3" role="presentation">
					<button class="nav-link d-flex align-items-center flex-md-column active" data-bs-toggle="pill" data-bs-target="#tab-portachiavi" type="button" role="tab" aria-selected="true">
						<span class="d-block ms-3 ms-md-0 mt-3">Portachiavi</span>
					</button>
				</li>

				<li class="nav-item mx-md-3" role="presentation">
					<button class="nav-link d-flex align-items-center flex-md-column" data-bs-toggle="pill" data-bs-target="#tab-bracciali" type="button" role="tab" aria-selected="false">
						<span class="d-block ms-3 ms-md-0 mt-3">Bracciali</span>
					</button>
				</li>

				<li class="nav-item mx-md-3" role="presentation">
					<button class="nav-link d-flex align-items-center flex-md-column" data-bs-toggle="pill" data-bs-target="#tab-collane" type="button" role="tab" aria-selected="false">
						<span class="d-block ms-3 ms-md-0 mt-3">Collane</span>
					</button>
				</li>
			</ul>

			<div class="tab-content mt-4">
				<!-- Portachiavi -->
				<div class="tab-pane fade show active" id="tab-portachiavi" role="tabpanel">
					<div class="shop row text-center g-5">
						{% for j in jewels %}
							{% if j.category.value == 'Portachiavi' %}
								{% include 'components/card_shop.html.twig' %}
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<!-- Bracciali -->
				<div class="tab-pane fade" id="tab-bracciali" role="tabpanel">
					<div class="shop row text-center g-5">
						{% for j in jewels %}
							{% if j.category.value == 'Bracciali' %}
								{% include 'components/card_shop.html.twig' %}
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<!-- Collane -->
				<div class="tab-pane fade" id="tab-collane" role="tabpanel">
					<div class="shop row text-center g-5">
						{% for j in jewels %}
							{% if j.category.value == 'Collane'%}
								{% include 'components/card_shop.html.twig' %}
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
