/* TAG */
body {
  color: #333;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) {
  color: #262353;
}

p {
  text-align: justify;
}

/* ID */
#header {
  border: none;
}

#lineDivider {
  display: block !important;
}

#logo,
#logo img {
  height: auto !important;
  max-height: 100px;
}

#mainSlider .tparrows {
  display: none;
}

#primary-menu-trigger {
  display: block;
  cursor: pointer;
  top: 40px;
  left: 45%;
  z-index: 11;
  font-size: 14px;
  width: 10px; /* Corretto da 10%px a 10px */
  height: 32px;
  line-height: 32px;
  text-align: center;
  border-radius: 2px;
}

#primary-menu ul:hover > li:not(:hover):not(.active) > a {
  color: #111 !important;
}

#secondaryLogo {
  border-bottom: 1px solid #262353;
  padding-bottom: 30px;
  padding-top: 40px;
}

#copyRight {
  padding: 20px 0 !important;
  text-align: center !important;
}

/* CLASSI */
.cc_banner {
  background-color: #ffffff !important;
  color: #333 !important;
  border-top: 2px solid #f59e00;
}

.cc_btn {
  background-color: #f59e00 !important;
  color: #ffffff !important;
}

.cc_more_info {
  color: #f59e00 !important;
  text-decoration: underline !important;
}

.datepicker {
  z-index: 200 !important;
}

.fc-body {
  background: #fff !important;
}

.fc-calendar .fc-row > div > div a:hover {
  background: #262353 !important;
  color: #ccc;
}

.fc-calendar .fc-row > div.fc-today,
.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
  background-color: #262353;
  color: #fff !important;
}

.fc-calendar .fc-row > div.fc-today > span.fc-date,
.fc-calendar .fc-row > div > div a:not(:hover),
.fc-calendar .fc-row > div > div span:not(:hover) {
  color: #fff;
}

.fc-calendar .fc-row > div.fc-today,
.fc-calendar .fc-row > div.fc-past,
.fc-calendar .fc-row > div.fc-future {
  cursor: pointer !important;
}

.fc-calendar .fc-row > div.fc-today:hover,
.fc-calendar .fc-row > div.fc-past:hover,
.fc-calendar .fc-row > div.fc-future:hover {
  background-color: #262353;
  color: #fff !important;
}

.fc-calendar .fc-row > div.fc-past:hover > span.fc-date,
.fc-calendar .fc-row > div.fc-future:hover > span.fc-date {
  color: #fff;
}

.fc-calendar .fc-head,
.events-calendar-header nav span {
  background: #262353 !important;
}

.fc-content {
  overflow-y: hidden !important;
}

.fancy-title::before,
.fancy-title::after {
  flex-grow: 0 !important;
}

.grid-filter li.activeFilter a {
  background-color: #f59e00 !important;
}

.grid-filter li.activeFilter a:hover {
  color: #fff !important;
}

.grid-filter li a:hover {
  color: #f59e00 !important;
}

.menu-container > .menu-item > .menu-link div::after {
  display: none !important;
}

.menu-link:hover {
  color: #f59e00 !important;
}

.portfolio-desc h3 a:hover,
.portfolio-desc .h3 a:hover {
  color: #f59e00 !important;
}

.section {
  background-color: white;
}

.side-header.open-header #header-trigger {
  top: 40px !important;
  width: 100px !important;
}

.slider-feature a:hover {
  transform: translateY(-10px) !important;
}

/* MEDIA */
@media (max-width: 992px) {
  #logo {
    display: none;
  }

  #primary-menu {
    padding-top: 40px;
  }

  #secondaryLogo {
    padding-top: 0px;
  }
}

/* Evidenziazione giorno attuale nel calendario */
.fc-today {
  background: #262353 !important;
}

ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

