.slider-inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* nero al 40%, puoi regolare */
  z-index: 1;
}

.slider-inner .container {
  position: relative;
  z-index: 2; /* porta sopra il testo */
}

#slider .slider-inner {
  padding-top: 150px;
  padding-bottom: 150px;
}

.product-image img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 2px;
}

